<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Fusca Azul</a>
     <div class="collapse navbar-collapse" id="main_nav">
       <ul class="navbar-nav ms-auto">
       <li class="nav-item"><a class="nav-link" routerLink="/estoque"> Estoque </a></li>
       <li class="nav-item"><a class="nav-link" routerLink="/update"> Update </a></li>
       </ul>
     </div> 
    </div> 
   </nav>
   
   <!-- Puxa os links do menu -->
   
<div class="container">
<router-outlet></router-outlet>
</div>

