.list-container{
    margin-top: 20px;
    width: 40%;
}

.title-list{
    background-color: rgb(51, 124, 233);
    margin-top: 60px;
}
.list-row{
    background-color:rgb(51, 124, 233);
    margin-top: 20px;
}
.cor{
    color: black;
}

.cor-30-c_max{
  color: orange !important;
}

.cor-abaixo-min{
  color: red !important;
}

.cor :hover{
  background-color: blanchedalmond;
}
